{% extends 'base.html' %}

{% block titulo %}Pagamento | {% endblock %}

{% load filters %}
{% load static %}

{% block conteudo %}
<div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <br>
        <br>
        <p>Método de pagamento aqui, juntamente com o calculo de frete, que futuramente será desenvolvido</p>
    </div>
</div>

{% include 'parciais/_pedido.html' %}

<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
    </div>
</div>


{% endblock %}